.bannerSection {
  display: flex;

  margin-bottom: 100px;
}

.bannerContainer {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.bannerImg {
  width: 437.792px;
  height: 265.656px;
}