:root {
  --color-primary: #6880ff;
  --color-primary-hover: #7c91ff;

  --color-black: #000000;
  --color-white: #ffffff;

  --background: #181818;

  --font-primary: "Inter", sans-serif;
}

* {
  background-color: var(--background)
}
